@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

#wrapper {
    width: 95%;
    margin: auto;
}

.is-ancestor {
    margin: auto;
}

#wtf {
    /* border: 1px solid red; */
    margin-bottom: 0px;
    padding-bottom: 0px;
}

nav {
    margin: 20px auto;
    padding: 10px;
    outline: 1px solid black;
}

#home-text-area {
    width: 100%;
}

#posts-tile {
    /* outline: 1px solid blue; */
    height: 100vh;
    overflow: scroll;
}

/* #test { */
    /* outline: 1px solid green; */
/* } */

#test .card {
    /* outline: 1px solid red; */
    width: 100%;
}

.post {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, .15);
    border-radius: 10px;
}

.box {
    /* outline: 1px solid red; */
    width: 100%;
}

#comment {
    background-color: #f5f5f5;
}

#profile-left {
    border: 1px solid rgb(0, 0, 0, .15);
    padding: 20px;
}

#comment-time {
    font-weight: lighter;
    color: rgb(0, 0, 0, .85);
    margin-bottom: 8px;
}

#comment-content {
    margin-top: 0px;
}

#upload-image input{
    margin: auto;
    width: 58%;
    /* outline: 1px solid red; */
}