* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

#wrapper {
    width: 95%;
    margin: auto;
}

.is-ancestor {
    margin: auto;
}

nav {
    margin: 20px auto;
    padding: 10px;
    outline: 1px solid black;
}

#comment {
    background-color: #f5f5f5;
}

#comment-time {
    font-weight: lighter;
    color: rgb(0, 0, 0, .85);
    margin-bottom: 8px;
}

#comment-content {
    margin-top: 0px;
}