@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

#wrapper {
    width: 95%;
    margin: auto;
}

.is-ancestor {
    margin: auto;
}

#wtf {
    /* border: 1px solid red; */
    margin-bottom: 0px;
    padding-bottom: 0px;
}

nav {
    margin: 20px auto;
    padding: 10px;
    outline: 1px solid black;
}

#vertical {
    border-right: 1px solid rgb(0, 0, 0, .15);
}

#space {
    margin-left: 10px;
    min-width: 50px;
    /* outline: 1px solid red; */
}

#space-word {
    margin-left: 10px;
    /* outline: 1px solid blue; */
    padding-top: 5px;
}

#create-workout-form {
    padding: 20px;
    max-height: 600px;
    overflow: scroll;
}