<!-- PROFILE PAGE SHIT -->
<div id="profile-page-shit">
<div id="profile_left">

    <img src='/media/{{profile.profile_photo}}' alt = "profile photo" height="300px">
    <h1>{{profile.username}}</h1>
    <h3>{{profile.first_name}} {{profile.last_name}}</h3>
    {% if profile != user and profile not in user_friends and profile not in user_friend_requests and profile not in user_sent_requests %}
        <form action="/swolemates/user/request/{{ profile.username }}/send_request" method="POST">
            {% csrf_token %}
            <input type="submit" value="Send Friend Request">
        </form>
    {% elif profile != user %}
        
        <!-- REMOVE FRIEND -->
        <form action="/swolemates/user/request/{{ profile.username }}/remove_friend" method="POST">
            {% csrf_token %}
            <input type="submit" value="Remove Friend">
        </form>

    {% else %}
        <a href="/swolemates/user/{{user.username}}/edit">Edit Profile</a>

    {% endif %}

    {% if profile.bio %}
        <p>BIO:</p>
        <p>{{profile.bio}}</p>
    {% else %}
        <p>NO BIO</p>
    {% endif %}

    {% if profile.fav_exercises %}
        <p>FAVORITE EXERCISE</p>
        <p>{{profile.fav_exercises}}</p>
    {% else %}
        <p>NO FAV EXERCISES</p>
    {% endif %}
</div>

<div id="profile_main">
    {% if user == profile %}
        <div id="make_post">
            <form action="{{user.username}}/profile_post_create" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- ADD WORKOUT TO POST -->
                {% if profile_workouts %}
                    <select name="workout" id="">
                        <option value="none" selected>Add A Workout?</option>
                        {% for workout in profile_workouts %}
                            <option value="{{workout.id}}">{{workout.name}}</option>
                        {% endfor %}
                    </select>
                {% endif %}

                <input type="file" name="image">
                <textarea name="content" id="" cols="50" rows="5" placeholder="Post Something"></textarea>
                <input type="submit" value="POST">
            </form>
        </div>
    {% endif %}

    <div id="post_wrapper">
        {% for post in posts reversed %}
            <div class="post">

                <img src='/media/{{profile.profile_photo}}' alt = "profile photo" height="30px">
                <h3>{{ post.posted_by }}</h3>
                <p>{{ post.updated_at }}</p>

                {% if post.posted_by == user %}
                    <a href="/swolemates/post/{{post.id}}/edit">Edit Post</a>
                {% endif %}
                
                {% if post.image %}
                    <img src="/media/{{post.image}}" alt="{{post.posted_by}} image">
                {% endif %}

                {% if post.workout %}
                    <a href="/swolemates/workout/{{post.workout.id}}">{{post.workout.name}}</a>
                    {% for exercise in post.workout.exercises.all %}
                        <h5>Exercise: {{exercise.name}}</h5>
                        <p>{{exercise.set_count}}x{{exercise.rep_count}}</p>
                    {% endfor %}
                {% endif %}

                <p>{{ post.content }}</p>
                
            </div>

            <!-- ADD/REMOVE LIKES -->
                <!-- <p>Liked By: {{post.liked_by.all}}</p> -->
                <p>{{post.liked_by.all|length}} Likes</p>
                {% if user in post.liked_by.all %}
                    <form action="{{post.posted_by}}/post/{{post.id}}/remove_like" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Unlike">
                    </form>
                {% else %}
                    <form action="{{post.posted_by}}/post/{{post.id}}/add_like" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Like">
                    </form>
                {% endif %}


            <!-- POST A COMMENT SECTION -->
            <div class="profile_make_comment">
                
                <form action="{{post.posted_by}}/post/{{post.id}}/add_comment" method="POST">
                    {% csrf_token %}
                    <textarea name="content" id="" cols="30" rows="2" placeholder="Add a comment"></textarea>
                    <input type="submit" value="Comment">
                </form>
            </div>

            <!-- ALL COMMENTS -->
            {% for comment in post.comments.all %}
                <img src="/media/{{ comment.posted_by.profile_photo }}" alt="{{ comment.posted_by.username }}'s photo" height="30px">
                <h5>{{comment.posted_by.username}}</h5>
                <p>{{comment.updated_at}}</p>
                <p>{{comment.content}}</p>

                <!-- ADD/REMOVE LIKES -->
                <!-- <p>Liked By: {{post.liked_by.all}}</p> -->
                <p>{{comment.liked_by.all|length}} Likes</p>
                {% if user in comment.liked_by.all %}
                    <form action="{{post.posted_by}}/comment/{{comment.id}}/remove_like" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Unlike">
                    </form>
                {% else %}
                    <form action="{{post.posted_by}}/comment/{{comment.id}}/add_like" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Like">
                    </form>
                {% endif %}

                <!-- DELETE COMMENT -->
                {% if comment.posted_by == user or profile == user %}
                    <form action="{{post.posted_by}}/post/{{post.id}}/comment/{{comment.id}}/delete" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete Comment">
                    </form>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<div id="profile_right">
    <div id="profile_friends_list">

        <!-- IF PROFILE HAS FRIENDS -->
        {% if profile_friends %}

            <!-- IF THIS IS THE USER'S PROFILE -->
            {% if user == profile %}
                <h2><a href="/swolemates/user/{{user.username}}/friends">Your Friends</a></h2>

                <!-- ITERATES THROUGH USER'S FRIENDS -->
                {% for friend in profile_friends %}
                    <div class="profile_friend_tile">
                        <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}} profile pic" height="50px">
                        <div class="tile_text">
                            <h3><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></h3>
                            <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                            
                            <!-- REMOVE FRIEND -->
                            <form action="/swolemates/user/request/{{ friend.username }}/remove_friend" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Remove Friend">
                            </form>
                        </div>
                    </div>
                {% endfor %}
                
                <!-- USER ADD FRIENDS SECTION -->

                    <!-- IF USER HAS PENDING FRIEND REQUESTS -->
                    {% if user_friend_requests %}
                        <h2>Friend Requests</h2>
                        {% for person in user_friend_requests %}
                            <div class="profile_friend_tile">
                                <img src="/media/images/{{person.profile_photo}}" alt="{{person.username}} profile pic" height="50px">
                                <div class="tile_text">
                                    <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                                    <p>{{ person.first_name }} {{ person.last_name }}</p>
                                    
                                    <!-- ACCEPT REQUEST -->
                                    <form action="/swolemates/user/request/{{ person.username }}/accept_request" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="Accept Friend Request">
                                    </form>
                                    
                                    <!-- DENY REQUEST -->
                                    <form action="/swolemates/user/request/{{ person.username }}/deny_request" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="Deny Friend Request">
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <h2>Add Friends</h2>
                    <!-- ALL OTHERS THAT ARE NOT FRIENDS/PENDING FRIENDS WITH USER -->
                    {% for person in all_others %}
                        {% if person not in profile_friends and person not in user_friend_requests and person not in user_sent_requests %}
                            <div class="profile_friend_tile">
                                <img src="/media/{{person.profile_photo}}" alt="{{person.username}} profile pic" height="50px">
                                <div class="tile_text">
                                    <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                                    <p>{{ person.first_name }} {{ person.last_name }}</p>

                                    <!-- SEND REQUEST -->
                                    <form action="/swolemates/user/request/{{ person.username }}/send_request" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="Send Friend Request">
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

            {% else %}

                <!-- NOT USER'S PROFILE -->
                <h2><a href="/swolemates/user/{{profile.username}}/friends">{{profile.username}}'s Friends</a></h2>


                {% for friend in profile_friends %}
                
                    <div class="profile_friend_tile">
                        <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}} profile pic" height="50px">
                        <div class="tile_text">
                            <h3><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></h3>
                            <p>{{ friend.first_name }} {{ friend.last_name }}</p>

                            <!-- IF PROFILE'S FRIEND NOT IN USER'S FRIENDS/PENDING FRIENDS -->
                            {% if friend not in user_friends and friend not in user_friend_requests and friend not in user_sent_requests and friend != user %}

                                <!-- SEND REQUEST -->
                                <form action="swolemates/user/request/{{ person.username }}/send_request" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Send Friend Request">
                                </form>
                            
                            {% elif friend != user %}

                                <!-- REMOVE FRIEND -->
                                <form action="/swolemates/user/request/{{ friend.username }}/remove_friend" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Remove Friend">
                                </form>
                            
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

        {% else %}
            
            <!-- IF USER DOESN'T HAVE FRIENDS YET -->
            {% if user == profile %}

                <!-- IF USER HAS PENDING FRIEND REQUESTS -->
                {% if user_friend_requests %}
                    <h2>Friend Requests</h2>
                        {% for person in user_friend_requests %}
                            
                                <div class="profile_friend_tile">
                                    <img src="/media/{{person.profile_photo}}" alt="{{person.username}} profile pic" height="50px">
                                    <div class="tile_text">
                                        <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                                        <p>{{ person.first_name }} {{ person.last_name }}</p>
                                        
                                        <!-- ACCEPT REQUEST -->
                                        <form action="/swolemates/user/request/{{ person.username }}/accept_request" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" value="Accept Friend Request">
                                        </form>
                                        
                                        <!-- DENY REQUEST -->
                                        <form action="/swolemates/user/request/{{ person.username }}/deny_request" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" value="Deny Friend Request">
                                        </form>
                                    </div>
                                </div>
                            
                        {% endfor %}
                {% endif %}
                    <h2>Add Friends</h2>
                        {% for person in all_others %}
                            {% if person not in user_sent_requests and person not in user_friend_requests %}
                                <div class="profile_friend_tile">
                                    <img src="/media/{{person.profile_photo}}" alt="{{person.username}} profile pic" height="50px">
                                    <div class="tile_text">
                                        <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                                        <p>{{ person.first_name }} {{ person.last_name }}</p>
                                        <!-- SEND REQUEST -->
                                        <form action="/swolemates/user/request/{{ person.username }}/send_request" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" value="Send Friend Request">
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
            {% else %}
                            
                <!-- IF PROFILE DOESN'T HAVE FRIENDS YET -->
                <h2>{{profile.username}}'s Friends</h2>
                <p>This user has no friends yet. :/</p>
            {% endif %}

        {% endif %}
    </div>

    <div id="profile_workouts">

        <!-- IF USER'S PROFILE -->
        {% if user == profile %}

            <!-- IF USER HAS CREATED WORKOUTS -->
            {% if profile_workouts %}
                <h2><a href="/swolemates/user/{{profile.username}}/workouts">Your Workouts</a></h2>

                <!-- ITERATES OVER USER WORKOUTS -->
                {% for workout in profile_workouts %}
                    <div class="workout_tile">
                        <img src="/media/{{profile.profile_photo}}" alt="profile pic" height="50px">
                        <div class="tile_text">
                            <h3><a href="/swolemates/workout/{{workout.id}}">{{ workout.name }}</a></h3>
                            <p>Created By: {{profile.username}} on {{workout.created_at}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You haven't created any workouts.</p>
            {% endif %}
            <h3><a href="/swolemates/workout">Create a Workout</a></h3>

        {% else %}

            <!-- NOT USER'S PROFILE -->
            <h2><a href="/swolemates/user/{{profile.username}}/workouts">{{profile.username}}'s Workouts</a></h2>
            
            {% if profile_workouts %}

                <!-- ITERATES OVER PROFILE'S WORKOUTS -->
                {% for workout in profile_workouts %}
                    <div class="workout_tile">
                        <img src="/media/{{profile.profile_photo}}" alt="profile pic">
                        <div class="tile_text">
                            <h3><a href="/swolemates/workout/{{workout.id}}">{{ workout.name }}</a></h3>
                            <p>Created By: {{profile.username}} on {{workout.created_at}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{{profile.username}} hasn't created any workouts yet.</p>
            {% endif %}

        {% endif %}
    </div>
</div>




<!-- ADD TO LINE 144/732 PROFILE IF IT BREAKS -->
<div class="tile is-vertical"></div>
</div>


<!-- VIEW POST SHIT -->
<div id="view-post-shit">

    <h2>{{profile.username}}'s Post</h2>

    <div id="post_wrapper">

            <div class="post">
                
                <!-- POST's IMAGE -->
                {% if post.image %}
                    <img src="/media/{{post.image}}" alt="{{post.posted_by}} image">
                {% endif %}

                <!-- POST's WORKOUT -->
                {% if post.workout %}
                    <a href="/swolemates/workout/{{post.workout.id}}">{{post.workout.name}}</a>
                    {% for exercise in post.workout.exercises.all %}
                        <h5>Exercise: {{exercise.name}}</h5>
                        <p>{{exercise.set_count}}x{{exercise.rep_count}}</p>
                    {% endfor %}
                {% endif %}

                <!-- PROFILE PHOTO AND POST INFO -->
                <img src='/media/{{profile.profile_photo}}' alt = "profile photo" height="30px">
                <h3><a href="/swolemates/user/{{post.posted_by}}">{{ post.posted_by }}</a></h3>
                <p>{{ post.updated_at }}</p>
                <p>{{ post.content }}</p>

                <!-- IF USER's POST -->
                {% if user == profile %}
                    
                    {% if post.posted_by == user %}
                        
                        <!-- EDIT POST -->
                        <a href="/swolemates/post/{{post.id}}/edit">Edit Post</a>

                        <!-- DELETE POST -->
                        <form action="/swolemates/post/{{post.id}}/delete" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Delete Post">
                        </form>

                    {% endif %}

                {% endif %}
            </div>

            <!-- ADD/REMOVE LIKES -->
                
                <p>{{post.liked_by.all|length}} Likes</p>
                {% if user in post.liked_by.all %}
                    <form action="/swolemates/post/{{post.id}}/remove_like" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Unlike">
                    </form>
                {% else %}
                    <form action="/swolemates/post/{{post.id}}/add_like" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Like">
                    </form>
                {% endif %}


            <!-- POST A COMMENT SECTION -->
            <div class="profile_make_comment">
                
                <form action="/swolemates/post/{{post.id}}/add_comment" method="POST">
                    {% csrf_token %}
                    <textarea name="content" id="" cols="30" rows="2" placeholder="Add a comment"></textarea>
                    <input type="submit" value="Comment">
                </form>
            </div>

            <!-- ALL COMMENTS -->
            {% for comment in post.comments.all %}
                <img src="/media/{{ comment.posted_by.profile_photo }}" alt="{{ comment.posted_by.username }}'s photo" height="30px">
                <h5>{{comment.posted_by.username}}</h5>
                <p>{{comment.updated_at}}</p>
                <p>{{comment.content}}</p>

                <!-- ADD/REMOVE LIKES -->
                <!-- <p>Liked By: {{post.liked_by.all}}</p> -->
                <p>{{comment.liked_by.all|length}} Likes</p>
                {% if user in comment.liked_by.all %}
                    <form action="/swolemates/post/{{post.id}}/comment/{{comment.id}}/remove_like" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Unlike">
                    </form>
                {% else %}
                    <form action="/swolemates/post/{{post.id}}/comment/{{comment.id}}/add_like" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Like">
                    </form>
                {% endif %}

                <!-- DELETE COMMENT -->

                {% if comment.posted_by == user or profile == user %}
                    <form action="/swolemates/post/{{post.id}}/comment/{{comment.id}}/delete" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete Comment">

                        <!-- DELEEEEEETEEEEEE -->
                        <a href="/swolemates/post/{{post.id}}/comment/{{comment.id}}/delete">Delete Check</a>

                    </form>
                {% endif %}
            {% endfor %}

    </div>



</div>


<!-- FRIENDS LIST SHIT -->

<!-- HOME - DELETE LATER--> <a href="/swolemates">HOME</a>
<div id="wrapper">
        
    <!-- IF USER PAGE -->
    {% if user == profile %}
        <h2>Your Friends</h2>
        {% if profile_friends %}

            {% for friend in profile_friends %}

                <div class="friends_list_tile_user">
                    <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}} profile pic">
                    <div class="tile_text">
                        <h3><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></h3>
                        <p>{{ friend.first_name }} {{ friend.last_name }}</p>

                        <!-- REMOVE FRIEND -->
                        <form action="/swolemates/user/request/{{ friend.username }}/remove_friend" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Remove Friend">
                        </form>
                    </div>
                </div>

            {% endfor %}

                <!-- IF USER HAS PENDING FRIEND REQUESTS -->
                {% if user_friend_requests %}
                    <h2>Friend Requests</h2>
                    {% for person in user_friend_requests %}
                        <div class="friends_friend_tile_right">
                            <img src="/media/{{person.profile_photo}}" alt="{{person.username}} profile pic">
                            <div class="tile_text">
                                <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                                <p>{{ person.first_name }} {{ person.last_name }}</p>
                                
                                <!-- ACCEPT REQUEST -->
                                <form action="/swolemates/friends/request/{{ person.username }}/accept_request" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Accept Friend Request">
                                </form>
                                
                                <!-- DENY REQUEST -->
                                <form action="/swolemates/friends/request/{{ person.username }}/deny_request" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Deny Friend Request">
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <h2>Add Friends</h2>
                <!-- ALL OTHERS THAT ARE NOT FRIENDS/PENDING FRIENDS WITH USER -->
                {% for person in all_others %}
                    {% if person not in profile_friends and person not in user_friend_requests and person not in user_sent_requests %}
                        <div class="friends_friend_tile_right">
                            <img src="/media/{{person.profile_photo}}" alt="{{person.username}} profile pic">
                            <div class="tile_text">
                                <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                                <p>{{ person.first_name }} {{ person.last_name }}</p>

                                <!-- SEND REQUEST -->
                                <form action="/swolemates/friends/request/{{ person.username }}/send_request" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" value="Send Friend Request">
                                </form>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

        {% else %}
            <!-- USER DOESN'T HAVE FRIENDS YET -->

            <h2>You don't have friends yet — Add some!</h2>

            {% if user_friend_requests %}
                <h2>Friend Requests</h2>
                {% for person in user_friend_requests %}
                    <div class="friends_friend_tile_right">
                        <img src="/media/{{person.profile_photo}}" alt="{{person.username}} profile pic">
                        <div class="tile_text">
                            <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                            <p>{{ person.first_name }} {{ person.last_name }}</p>
                            
                            <!-- ACCEPT REQUEST -->
                            <form action="/swolemates/friends/request/{{ person.username }}/accept_request" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Accept Friend Request">
                            </form>
                            
                            <!-- DENY REQUEST -->
                            <form action="/swolemates/friends/request/{{ person.username }}/deny_request" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Deny Friend Request">
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <h2>Add Friends</h2>
            {% for person in all_others %}
                {% if person not in profile_friends and person not in user_friend_requests and person not in user_sent_requests %}

                    <div class="friend_tile">
                        <img src="/media/{{person.profile_photo}}" alt="{{person.username}} profile pic">
                        <div class="tile_text">
                            <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                            <p>{{ person.first_name }} {{ person.last_name }}</p>
                            <!-- SEND REQUEST -->
                            <form action="/swolemates/friends/request/{{ person.username }}/send_request" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Send Friend Request">
                            </form>
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

        {% endif %}
    
    {% else %}

    <!-- NOT USER'S PROFILE -->
        <h2>{{profile.username}}'s Friends</h2>
        {% if profile_friends %}

            {% for friend in profile_friends %}

                <div class="friends_list_tile">
                    <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}} profile pic">
                    <div class="tile_text">
                        <h3><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></h3>
                        <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                        {% if friend not in user_friends and friend not in user_friend_requests and friend not in user_sent_requests %}
                            <!-- SEND REQUEST -->
                            <form action="/swolemates/friends/request/{{ friend.username }}/send_request" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Send Friend Request">
                            </form>

                        {% elif friend != user %}

                            <!-- REMOVE FRIEND -->
                            <form action="/swolemates/user/request/{{ friend.username }}/remove_friend" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Remove Friend">
                            </form>
                            
                        {% endif %}
                    </div>
                </div>

            {% endfor %}

        {% else %}

            <p>This user has no friends yet. :/</p>

        {% endif %}

    {% endif %}
</div>

<!-- WORKOUT LIST SHIT -->

<!-- HOME - DELETE LATER--> <a href="/swolemates">HOME</a>
<div id="wrapper">
    {% if user == profile %}
        <h2>Your Workouts</h2>
        {% if workouts %}

            {% for workout in workouts %}

                <div class="workouts_list_tile">
                    <!-- CHANGE IMAGE | FIND FLEX or WEIGHT PNG -->
                    <img src="/media/{{profile.profile_photo}}" alt="{{profile.username}} profile pic">
                    <div class="tile_text">
                        <h3><a href="/swolemates/workout/{{workout.id}}">{{ workout.name }}</a></h3>
                        <p>Created By: You on {{workout.created_at}}</p>
                        <a href="/swolemates/workout/{{workout.id}}/edit">Edit Workout</a>
                    </div>
                </div>

            {% endfor %}

            <h2>Create Workout</h2>
            <a href="/swolemates/workout">Create Workout</a>

        {% else %}

            <h2>You haven't made any workouts yet — Create one!</h2>
            <a href="/swolemates/workout">Create Workout</a>

        {% endif %}
    
    {% else %}
        <h2>{{profile.username}}'s Workouts</h2>
        {% if workouts %}

            {% for workout in workouts %}

                <div class="workouts_list_tile">
                    <!-- CHANGE IMAGE | FIND FLEX or WEIGHT PNG -->
                    <img src="/media/{{profile.profile_photo}}" alt="{{profile.username}} profile pic">
                    <div class="tile_text">
                        <h3><a href="/swolemates/workout/{{workout.id}}">{{ workout.name }}</a></h3>
                        <p>Created By: {{profile.username}} on {{workout.created_at}}</p>
                    </div>
                </div>

            {% endfor %}

        {% else %}

            <p>This user hasn't created any workouts yet.</p>

        {% endif %}

    {% endif %}
</div>

<!-- WORKOUT VIEW SHIT -->
<div>
    <!-- HOME - DELETE LATER--> <a href="/swolemates">HOME</a>
    <h1>{{workout.name}}</h1>
    <p>Created By: {{workout.created_by}} | {{workout.updated_at}}</p>

    {% for exercise in exercises %}

        <h3>Exercise {{forloop.counter}}: {{exercise.name}}</h3>
        <p>Sets: {{exercise.set_count}} | Reps: {{exercise.set_count}}</p>

    {% endfor %}

    {% if user == workout.created_by %}
    <a href="/swolemates/workout/{{workout.id}}/edit">Edit Workout</a>
    <form action="{{workout.id}}/delete" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete Workout">
    </form>
    {% endif %}
</div>

<!-- EDIT PROFILE SHIT -->

<div>
    <h1>Edit Profile</h1>

    <form action="update" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="profile_photo" method="POST" enctype="multipart/form-data">Change Profile Photo</label>
        <input type="file" name="profile_photo">
        
        <label for="bio">Update Bio</label>
        <textarea name="bio" id="" cols="15" rows="5">{{user.bio}}</textarea>

        <label for="fav_exercises">Change Favorite Exercises</label>
        <textarea name="fav_exercises" id="" cols="15" rows="5">{{user.fav_exercises}}</textarea>
        
        <input type="submit" value="UPDATE">
</form>
</div>

<!-- EDIT WORKOUT SHIT -->

<div>
    <!-- HOME - DELETE LATER--> <a href="/swolemates">HOME</a>
    <h1>Edit Workout:</h1>
    <form action="update" method="POST">
        {% csrf_token %}
        
        <div id="workout_name">
            <label for="workout_name">Workout Name</label>
            <input type="text" name="workout_name" value="{{ workout.name }}">
        </div>

        {% for exercise in exercises %}
            <div class="exercise_field">
                <div class="exercise_name">
                    <label for="name{{ forloop.counter }}">Exercise {{ forloop.counter }}</label>
                    <input type="text" name="name{{ forloop.counter }}" value="{{ exercise.name }}">
                </div>
                <div class="sets_reps">
                    <div class="sets">
                        <label for="sets{{ forloop.counter }}">Sets</label>
                        <select name="sets{{ forloop.counter }}">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="reps">
                        <label for="reps{{ forloop.counter }}">Reps</label>
                        <select name="reps{{ forloop.counter }}">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
            </div>


        {% endfor %}
            <input type="submit" value="Update Workout">
        </form>
        <form action="delete" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete Workout">
        </form>
</div>


<!-- WORKOUT CREATE SHIT -->

<div>
<h1>Create a Workout</h1>
    <form action="workout/create" method="POST">
        {% csrf_token %}
        
        <div id="workout_name">
            <label for="name">Name</label>
            <input type="text" name="workout_name">
        </div>

        <div class="exercise_field">
            <div class="exercise_name">
                <label for="name1">Exercise 1</label>
                <input type="text" name="name1">
            </div>
            <div class="sets_reps">
                <div class="sets">
                    <label for="sets1">Sets</label>
                    <select name="sets1">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="reps">
                    <label for="reps1">Reps</label>
                    <select name="reps1">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="exercise_field">
            <div class="exercise_name">
                <label for="name2">Exercise 2</label>
                <input type="text" name="name2">
            </div>
            <div class="sets_reps">
                <div class="sets">
                    <label for="sets2">Sets</label>
                    <select name="sets2">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="reps">
                    <label for="reps2">Reps</label>
                    <select name="reps2">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="exercise_field">
            <div class="exercise_name">
                <label for="name3">Exercise 3</label>
                <input type="text" name="name3">
            </div>
            <div class="sets_reps">
                <div class="sets">
                    <label for="sets3">Sets</label>
                    <select name="sets3">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="reps">
                    <label for="reps3">Reps</label>
                    <select name="reps3">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="exercise_field">
            <div class="exercise_name">
                <label for="name4">Exercise 4</label>
                <input type="text" name="name4">
            </div>
            <div class="sets_reps">
                <div class="sets">
                    <label for="sets4">Sets</label>
                    <select name="sets4">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="reps">
                    <label for="reps4">Reps</label>
                    <select name="reps4">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="exercise_field">
            <div class="exercise_name">
                <label for="name5">Exercise 5</label>
                <input type="text" name="name5">
            </div>
            <div class="sets_reps">
                <div class="sets">
                    <label for="sets5">Sets</label>
                    <select name="sets5">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="reps">
                    <label for="reps5">Reps</label>
                    <select name="reps5">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="exercise_field">
            <div class="exercise_name">
                <label for="name6">Exercise 6</label>
                <input type="text" name="name6">
            </div>
            <div class="sets_reps">
                <div class="sets">
                    <label for="sets6">Sets</label>
                    <select name="sets6">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="reps">
                    <label for="reps6">Reps</label>
                    <select name="reps6">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="exercise_field">
            <div class="exercise_name">
                <label for="name7">Exercise 7</label>
                <input type="text" name="name7">
            </div>
            <div class="sets_reps">
                <div class="sets">
                    <label for="sets7">Sets</label>
                    <select name="sets7">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="reps">
                    <label for="reps7">Reps</label>
                    <select name="reps7">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="exercise_field">
            <div class="exercise_name">
                <label for="name8">Exercise 8</label>
                <input type="text" name="name8">
            </div>
            <div class="sets_reps">
                <div class="sets">
                    <label for="sets8">Sets</label>
                    <select name="sets8">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="reps">
                    <label for="reps8">Reps</label>
                    <select name="reps8">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

        <input type="submit" value="Create Workout">
    </form>
</div>

<!-- EDIT POST -->

<div>

    <!-- POST - DELETE LATER--> <a href="/swolemates/post/{{post.id}}">POST</a>
    <h2>Edit Post</h2>

    <form action="update" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- WORKOUT SELECTION -->
        <select name="workout" id="">
            
            <!-- IF WORKOUT WASN'T SELECTED WITH POST -->
            {% if not post.workout %}
                <option value="none" selected>Add A Workout?</option>
            {% endif %}
            
            {% for workout in user.workouts.all %}
                <!-- IF WORKOUT WAS SELECTED WITH POST -->
                {% if workout == post.workout %}
                    <option value="{{workout.id}}" selected>{{workout.name}}</option>
                {% else %}
                    <option value="{{workout.id}}">{{workout.name}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <!-- IMAGE SELECTION -->
        {% if post.image %}
            <p>Current Image:</p>
            <img src="/media/{{post.image}}" alt="Current Image">
            <input type="file" name="image" value="Change Image">
        {% else %}
            <input type="file" name="image" >
        {% endif %}

        <!-- POST CONTENT -->
        <textarea name="content" id="" cols="50" rows="5">{{post.content}}</textarea>

        <input type="submit" value="Update Post">
        
        <!-- DELETE POST -->
        <form action="delete" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete Post">
        </form>
    </form>

</div>

<!-- LOGIN/REG -->

<h1 id="title">SwoleMates</h1>
        <div id="login_reg">

            <div id="registration">

                <h1>Register</h1>

                <form action="/register" method="POST">
                    {% csrf_token %}
                    
                    <div class="form_field">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name">
                    </div>
                
                    <div class="form_field">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name">
                    </div>

                    <div class="form_field">
                        <label for="username">Username</label>
                        <input type="text" name="username">
                    </div>

                    <div class="form_field">
                        <label for="email">Email</label>
                        <input type="text" name="email">
                    </div>

                    <div class="form_field">
                        <label for="Password">Password</label>
                        <input type="password" name="password">
                    </div>

                    <div class="form_field">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" name="confirm_password">
                    </div>

                    <input type="submit" value="Register" class="button">
        
                </form>
            </div>

            <div id="login">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    {% csrf_token %}

                    <div class="form_field">
                        <label for="email">Email</label>
                        <input type="text" name="email">
                    </div>

                    <div class="form_field">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    
                    <input type="submit" value="Login" class="button">

                </form>
            </div>
        </div>