<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SM | {{profile.username}}'s friends</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/lists.css' %}">
</head>
<body>
    
    <div id="wrapper">

        <nav class="navbar">

            <!-- LEFT SIDE OF NAVBAR -->
            <div class="navbar-brand">
                    <!-- REPLACE THIS WITH LOGO AFTER MAKING -->
                    <p class="title is-2 is-align-self-center" id="wtf"><a href="/swolemates">SWOLEMATES</a></p>

                    <!-- BURGER MENU -->
                    <a role="button" class="navbar-burger is-align-self-center" id="wtf" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>

            <!-- LEFT SIDE OF NAVBAR END -->

            </div>

            <!-- RIGHT SIDE OF NAVBAR -->
            <div class="navbar-menu navbar-end">

                <!-- PROFILE -->
                <a href="/swolemates/user/{{user.username}}" class="navbar-item">
                    {{user.username}}
                </a>

                <!-- FRIENDS -->
                <a href="/swolemates/user/{{user.username}}/friends" class="navbar-item">
                    Friends
                </a>

                <!-- WORKOUTS DROPDOWN-->
                <div class="navbar-item has-dropdown is-hoverable">

                    <!-- WORKOUTS MAIN LINK -->
                    <a href="/swolemates/user/{{user.username}}/workouts" class="navbar-link">
                        Workouts
                    </a>

                    <!-- WORKOUTS DROPDOWN ITEMS -->
                    <div class="navbar-dropdown">

                        <!-- YOUR WORKOUTS -->
                        <a href="/swolemates/user/{{user.username}}/workouts" class="navbar-item">
                            Your Workouts
                        </a>
                        
                        <hr class="navbar-divider">

                        <!-- CREATE A WORKOUT -->
                        <a href="/swolemates/workout" class="navbar-item">
                            Create A Workout
                        </a>

                        <!-- END WORKOUT DROPDOWN MENU -->
                    </div>
                    <!-- END WORKOUT ITEM -->
                </div>

                <!-- LOGOUT -->
                <div class="navbar-item">
                    <form action="/logout" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="LOGOUT" class="button" id="logout">
                    </form>
                </div>

            
            <!-- END RIGHT SIDE OF NAV -->
            </div>

        </nav>

    <!-- ANCESTOR TILE FOR PAGE -->
    <div class="tile is-ancestor">

        <!-- PARENT TILE FOR FRIENDS LIST LEFT SIDE. WILL BE 75% OF PAGE -->
        <div class="tile is-parent is-9 is-vertical">

            <!-- CHILD TILE FOR USER/PROFILE's FRIENDS CARD -->
            <div class="tile is-child is-12">

                <!-- CARD TITLE -->
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title"><a href="/swolemates/user/{{profile.username}}">{{profile.username}}'s Friends</a></p>
                    </header>

                <!-- END CARD TITLE DIV -->
                </div>

            <!-- END CHILD TILE FOR USER/PROFILE's FRIENDS CARD -->
            </div>

            {% if profile_friends %}


                {% for friend in profile_friends %}

                <!-- CHILD TILE FOR FRIEND IN FRIENDS -->
                <div class="tile is-child is-12">
                    

                    <!-- CARD WITH FRIEND INFO -->
                    <div class="card">
                                        
                        <!-- CONTAINER FOR CARD CONTENT -->
                        <div class="card-content">
                            
                            <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                            <div class="media">

                                <!-- CONTAINER FOR PROFILE PICTURE -->
                                <div class="media-left">


                                    <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">

                                </div>

                                <!-- CONTAINER FOR FRIEND INFO -->
                                <div class="media-content">

                                    <p class="title is-6"><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></p>
                                    <p class="subtitle is-6">{{ friend.first_name }} {{ friend.last_name }}</p>

                                </div>

                            
                            <!-- END MEDIA CONTAINER -->
                            </div>
                            
                            {% if friend not in user_friends and friend not in user_friend_requests and friend not in user_sent_requests and friend != user %}

                                <!-- FOOTER CONTAINER -->
                                <div class="card-footer">
                                            
                                    <!-- SEND FRIEND REQUEST -->
                                    <form action="/swolemates/friends/request/{{ person.username }}/send_request" method="POST" class="card-footer-item is-justify-content-start">
                                        {% csrf_token %}
                                        
                                        {% if person.username != "NOFRIEND ZONE" %}
                                        <input type="submit" value="Send Friend Request" class="button">

                                        {% else %}
                                            <a href="">Send Friend Request</a>
                                        {% endif %}
                                    </form>
                                </div>

                            {% elif friend != user %}

                                <!-- FOOTER CONTAINER -->
                                <div class="card-footer">
                                    
                                    <!-- REMOVE FRIEND -->
                                    <form action="/swolemates/friends/request/{{ friend.username }}/remove_friend" method="POST" class="card-footer-item is-justify-content-start is-align-self-center">
                                        {% csrf_token %}
                                        <input type="submit" value="Remove Friend" class="button">
                                    </form>
                                
                                <!-- END FOOTER CONTAINER -->
                                </div>

                            <!-- ENDS IF FOR PROFILE FRIENDS THAT AREN'T IN THE USERS FRIEND GROUP AND DOES NOT EQUAL USER -->
                            {% endif %}

                            <!-- END CARD-CONTENT CONTAINER -->
                            </div>

                        <!-- END CARD CONTAINER -->
                        </div>

                <!-- END TILE CONTAINER -->
                </div>

                {% endfor %}


            <!-- IF PROFILE FRIENDS ELSE -->
            {% else %}


                <div class="tile is-child is-12">

                    {% if profile == user %}
                        <!-- CARD TITLE -->
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">You don't have any friends yet. Add some!</p>
                            </header>

                        <!-- END CARD TITLE DIV -->
                        </div>
                    {% else %}
                        <!-- CARD TITLE -->
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title"><a href="/swolemates/user/{{profile.username}}">{{profile.username}} doesn't have any friends yet.</a></p>
                            </header>

                        <!-- END CARD TITLE DIV -->
                        </div>
                    {% endif %}
                <!-- END CHILD TILE FOR USER/PROFILE's FRIENDS CARD -->
                </div>



            <!-- END IF PROFILE FRIENDS -->
            {% endif %}

        <!-- END PARENT TILE FOR FRIENDS LIST LEFT SIDE -->
        </div>

        <!-- PARENT TILE FOR FRIEND REQUESTS & ADD FRIENDS RIGHT SIDE -->
        <div class="tile is-parent is-vertical is-align-items-flex-start">

            <!-- USER FRIEND REQUESTS SECTION -->
            {% if user_friend_requests %}

                <!-- TILE TITLE -->
                <div class="tile is-child is-12">

                    <div class="card">
                        <header class="card-header">
                        <p class="card-header-title">
                            <a href="/swolemates/user/{{user.username}}/friends">Friend Requests</a>
                        </p>
                        <button class="card-header-icon" aria-label="more options">
                            <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                        </header>
                    </div>
                
                <!-- END TILE TITLE CONTAINER -->
                </div>

                <!-- ITERATE OVER USER FRIEND REQUESTS -->
                {% for friend in user_friend_requests %}

                <div class="tile is-child is-12">

                    <!-- CARD WITH FRIEND INFO -->
                        <div class="card">
                            
                            <!-- CONTAINER FOR CARD CONTENT -->
                            <div class="card-content">
                                
                                <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                <div class="media">

                                    <!-- CONTAINER FOR PROFILE PICTURE -->
                                    <div class="media-left">


                                        <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">

                                    </div>

                                    <!-- CONTAINER FOR FRIEND INFO -->
                                    <div class="media-content">

                                        <p class="title is-6"><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></p>
                                        <p class="subtitle is-6">{{ friend.first_name }} {{ friend.last_name }}</p>

                                    </div>
                                
                                <!-- END MEDIA CONTAINER -->
                                </div>

                                <!-- FOOTER CONTAINER -->
                                <div class="card-footer is-justify-content-space-evenly">
                                        
                                    <!-- ACCEPT REQUEST -->
                                    <form action="/swolemates/friends/request/{{ friend.username }}/accept_request" method="POST" class="card-footer-item">
                                        {% csrf_token %}
                                        <input type="submit" value="Accept" class="button">
                                    </form>
                                    
                                    <!-- DENY REQUEST -->
                                    <form action="/swolemates/friends/request/{{ friend.username }}/deny_request" method="POST" class="card-footer-item">
                                        {% csrf_token %}
                                        <input type="submit" value="Deny" class="button">
                                    </form>
                                
                                <!-- END FOOTER CONTAINER -->
                                </div>

                            <!-- END CARD-CONTENT CONTAINER -->
                            </div>

                        <!-- END CARD CONTAINER -->
                        </div>

                <!-- END TILE CONTAINER -->
                </div>


                <!-- END ITERATE OVER USER FRIEND REQUESTS -->
                {% endfor %}

            <!-- END IF USER_FRIEND_REQUESTS -->
            {% endif %}

            <!-- ADD FRIENDS SECTION -->
            
                    <!-- TILE TITLE -->
                    <div class="tile is-child is-12">

                        <div class="card">
                            <header class="card-header">
                            <p class="card-header-title">
                                <a href="/swolemates/user/{{user.username}}/friends">Add Friends</a>
                            </p>
                            <button class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                            </header>
                        </div>
                    
                    <!-- END TILE TITLE CONTAINER -->
                    </div>

                    {% for person in all_others %}
                        {% if person not in user_friends and person not in user_friend_requests and person not in user_sent_requests %}

                        <div class="tile is-child is-12">

                            <!-- CARD WITH FRIEND INFO -->
                                <div class="card">
                                    
                                    <!-- CONTAINER FOR CARD CONTENT -->
                                    <div class="card-content">
                                        
                                        <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                        <div class="media">

                                            <!-- CONTAINER FOR PROFILE PICTURE -->
                                            <div class="media-left">


                                                <img src="/media/{{person.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">

                                            </div>

                                            <!-- CONTAINER FOR FRIEND INFO -->
                                            <div class="media-content">

                                                <p class="title is-6"><a href="/swolemates/friends/{{person.username}}">{{ person.username }}</a></p>
                                                <p class="subtitle is-6">{{ person.first_name }} {{ person.last_name }}</p>

                                            </div>

                                        
                                        <!-- END MEDIA CONTAINER -->
                                        </div>

                                        <!-- FOOTER CONTAINER -->
                                        <div class="card-footer">
                                            
                                            <!-- SEND FRIEND REQUEST -->
                                            <form action="/swolemates/friends/request/{{ person.username }}/send_request" method="POST" class="card-footer-item is-justify-content-start">
                                                {% csrf_token %}
                                                
                                                {% if person.username != "NOFRIEND ZONE" %}
                                                <input type="submit" value="Send Friend Request" class="button">

                                                {% else %}
                                                    <a href="">Send Friend Request</a>
                                                {% endif %}
                                            </form>
                                        
                                        <!-- END FOOTER CONTAINER -->
                                        </div>

                                    <!-- END CARD-CONTENT CONTAINER -->
                                    </div>

                                <!-- END CARD CONTAINER -->
                                </div>

                        <!-- END TILE CONTAINER -->
                        </div>

                        <!-- END ALL OTHERS IF -->
                        {% endif %}
                    <!-- END ITERATE OVER ALL OTHERS -->
                    {% endfor %}


        <!-- END PARENT TILE FOR FRIEND REQUESTS & ADD FRIENDS RIGHT SIDE -->
        </div>






    <!-- END ANCESTOR TILE FOR PAGE -->
    </div>
    
    
    
    <!-- END WRAPPER DIV -->
    </div>


</body>
</html>