<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwoleMates</title>
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <div id="nav_left">
                <h1>LOGO</h1>
                <h1>SwoleMates</h1>
            </div>
            <div id="nav_right">
                <h3><a href="/swolemates/user/{{user.username}}/friends">Friends</a></h3>
                <h3><a href="/swolemates/user/{{user.username}}/workouts">Workouts</a></h3>
                <h3> <a href="/swolemates/user/{{user.username}}">{{ user.username }}</a></h3>
                <form action="logout" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="LOGOUT" class="button" id="logout">
                </form>
            </div>
        </div>

        <div id="main_content">

            <div id="make_post">
                <form action="swolemates/home_post_create" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="image">
                    <input type="text" value="Post something" name="content">
                    <input type="submit" value="POST">
                </form>
            </div>

            <div id="post_wrapper">
                {% for post in posts reversed %}
                    {% for friend in friends %}
                        {% if post.posted_by == friend or post.posted_by == user %}
                        <div class="post">
                            <img src="/media/{{post.image}}" alt="{{post.posted_by}} image">
                            <h3><a href="/swolemates/user/{{post.posted_by}}">{{ post.posted_by }}</a></h3>
                            <p>{{ post.created_at }}</p>
                            <p>{{ post.content }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>

            <div id="main_right">

                <div id="main_friends_list">
                    {% if friends %}

                        <h2><a href="/swolemates/user/{{user.username}}/friends">Friends</a></h2>
                            {% for friend in friends %}
                                <div class="profile_friend_tile">
                                    <img src="/media/images/{{friend.profile_photo}}" alt="{{friend.username}}'s profile pic">
                                    <div class="tile_text">
                                        <h3><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></h3>
                                        <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                                        <!-- REMOVE FRIEND -->
                                        <form action="/swolemates/user/request/{{ friend.username }}/remove_friend" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" value="Remove Friend">
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                    {% endif %}
                    {% if user_friend_requests %}
                        <h2>Friend Requests</h2>
                        {% for person in user_friend_requests %}
                            <div class="profile_friend_tile">
                                <img src="/media/images/{{person.profile_photo}}" alt="{{person.username}} profile pic">
                                <div class="tile_text">
                                    <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                                    <p>{{ person.first_name }} {{ person.last_name }}</p>
                                    
                                    <!-- ACCEPT REQUEST -->
                                    <form action="/swolemates/request/{{ person.username }}/accept_request" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="Accept Friend Request">
                                    </form>
                                    
                                    <!-- DENY REQUEST -->
                                    <form action="/swolemates/request/{{ person.username }}/deny_request" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="Deny Friend Request">
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                        <h2>Add Friends</h2>
                            {% for person in all_others %}
                                {% if person not in friends and person not in user_friend_requests and person not in user_sent_requests %}
                                    <div class="home_friend_tile">
                                        <img src="/media/images/{{person.profile_photo}}" alt="{{person.username}} profile pic">
                                        <div class="tile_text">
                                            <h3><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></h3>
                                            <p>{{ person.first_name }} {{ person.last_name }}</p>
                                            <form action="/swolemates/request/{{ person.username }}/send_request" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" value="Send Friend Request">
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                </div>

                <div id="main_workouts">
                    {% if user_workouts %}
                        <h2>Your Workouts</h2>
                        {% for workout in user_workouts %}
                            <div class="workout_tile">
                                <img src="/media/images/{{user.profile_photo}}" alt="profile pic">
                                <div class="tile_text">
                                    <h3><a href="">{{ workout.created_by.username }}</a></h3>
                                    <p>{{ workout.created_by.first_name }} {{ workout.created_by.last_name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h3><a href="/swolemates/workout">Create a Workout</a></h3>
                </div>

            </div>

        </div>
    </div>
</body>
</html>