<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwoleMates</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
</head>
<body>
    <div id="wrapper">

        <nav class="navbar">

            <!-- LEFT SIDE OF NAVBAR -->
            <div class="navbar-brand">
                    <!-- REPLACE THIS WITH LOGO AFTER MAKING -->
                    <p class="title is-2 is-align-self-center" id="wtf"><a href="/swolemates">SWOLEMATES</a></p>

                    <!-- BURGER MENU -->
                    <a role="button" class="navbar-burger is-align-self-center" id="wtf" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>

            <!-- LEFT SIDE OF NAVBAR END -->

            </div>

            <!-- RIGHT SIDE OF NAVBAR -->
            <div class="navbar-menu navbar-end">

                <!-- PROFILE -->
                <a href="/swolemates/user/{{user.username}}" class="navbar-item">
                    {{user.username}}
                </a>

                <!-- FRIENDS -->
                <a href="/swolemates/user/{{user.username}}/friends" class="navbar-item">
                    Friends
                </a>

                <!-- WORKOUTS DROPDOWN-->
                <div class="navbar-item has-dropdown is-hoverable">

                    <!-- WORKOUTS MAIN LINK -->
                    <a href="/swolemates/user/{{user.username}}/workouts" class="navbar-link">
                        Workouts
                    </a>

                    <!-- WORKOUTS DROPDOWN ITEMS -->
                    <div class="navbar-dropdown">

                        <!-- YOUR WORKOUTS -->
                        <a href="/swolemates/user/{{user.username}}/workouts" class="navbar-item">
                            Your Workouts
                        </a>
                        
                        <hr class="navbar-divider">

                        <!-- CREATE A WORKOUT -->
                        <a href="/swolemates/workout" class="navbar-item">
                            Create A Workout
                        </a>

                        <!-- END WORKOUT DROPDOWN MENU -->
                    </div>
                    <!-- END WORKOUT ITEM -->
                </div>

                <!-- LOGOUT -->
                <div class="navbar-item">
                    <form action="/logout" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="LOGOUT" class="button" id="logout">
                    </form>
                </div>

            
            <!-- END RIGHT SIDE OF NAV -->
            </div>

        </nav>



        <div id="main_content">



            <!-- TILES -->

            <!-- ANCESTOR DIV -->
            <div class="tile is-ancestor">

                <!-- TILE FOR POSTS WILL BE VERTICAL & TAKE UP 75% OF PAGE -->
                <div class="tile is-parent is-9 is-vertical">

                    <!-- MAKE POST TILE -->
                    <div class="tile is-child is-12">

                        <div id="errors">
                            {% if messages %}

                                {% for message in messages %}    
                                    <div class="card messages">
                                        <header class="card-header">
                                            <p class="card-header-title" id="error">
                                                ERROR: {{ message }}
                                            </p>
                                        </header>
                                    </div>

                                {% endfor %}
                            {% endif %}
                        </div>


                        <!-- MAKE POST CARD CONTAINER -->
                        <div class="card">
                            
                            <form action="swolemates/home_post_create" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                            
                            <!-- MAKE POST HEADER -->
                            <header class="card-header">

                                <div class="media">
                                    
                                    <div class="media-content">
                                        <textarea class="textarea" name="content" id="home-text-area" cols="300" rows="2" placeholder="Post Something"></textarea>
                                    </div>
                                </div>
                                

                            </header>

                            <footer class="card-footer">

                                <!-- ADD WORKOUT TO POST -->
                                {% if user_workouts %}
                                    <div class="card-footer-item">
                                        <select name="workout" id="">
                                            <option value="none" selected>Add A Workout?</option>
                                            {% for workout in user_workouts %}
                                                <option value="{{workout.id}}">{{workout.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                
                                <!-- ADD IMAGE TO POST -->
                                <div class="card-footer-item" id="upload-image">
                                    <input type="file" name="image">
                                </div>

                                <!-- ADD IMAGE TO POST -->
                                <div class="card-footer-item">
                                    <input type="submit" value="POST" class="button">
                                </div>
                            </footer>


                            </form>
                        <!-- END MAKE POST CARD CONTAINER -->
                        </div>

                    
                    <!-- END MAKE POST TILE -->
                    </div>


                    

                    <!-- TILE FOR POSTS -->
                    <div class="tile is-child is-vertical" id="posts-tile">

                            {% if not user.posts.all and not friends %}
                            <!-- CHILD FOR REGISTER CARD -->
                            <div class="tileis-12">
                                <!-- CARD TITLE -->
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title">There's nothing here... Post something!</p>
                                    </header>
                                    <!-- END CARD TITLE DIV -->
                                    </div>
                            <!-- END CHILD FOR REGISTER -->
                            </div>
                        {% endif %}
                    <!-- ITERATE OVER POSTS HERE -->

                        {% for post in posts reversed %}
                            {% if post.posted_by in friends or post.posted_by == user %}

                            
                            <div class="post">
                                <!-- TILE FOR WHOLE INDIVIDUAL POST -->
                                <div class="tile is-12">

                                    <!-- TILE TO FEATURE IMAGE & WORKOUT -->

                                        <!-- IMAGE TILE -->
                                        {% if post.image %}
                                            <div class="tile is-3">
                                                <img src="/media/{{post.image}}" alt="{{post.posted_by}} image">
                                            </div>
                                        {% endif %}


                                        <!-- CARD FOR POST TILE -->
                                        <div class="tile" id="test">
                                            <div class="card">
                                                
                                                {% if post.workout %}
                                                <header class="card-header">
                                                    <p class="card-header-title">
                                                        <a href="/swolemates/workout/{{post.workout.id}}">Today's Workout: {{post.workout.name}}</a>
                                                    </p>
                                                </header>
                                                {% endif %}

                                                <div class="card-content">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <figure class="image is-48x48">
                                                            <img src="/media/{{post.posted_by.profile_photo}}" alt="profile photo">
                                                            </figure>
                                                        </div>
                                                        <div class="media-content">
                                                            <p class="title is-4"><a href="/swolemates/user/{{post.posted_by.username}}">{{post.posted_by}}</a></p>
                                                            <p class="subtitle is-6">{{post.updated_at}} {% if post.posted_by == user %}|  <a href="/swolemates/post/{{post.id}}/edit">Edit Post</a>{% endif %}</p> 
                                                        </div>
                                                    </div>

                                                    <div class="content">
                                                        <p>{{post.content}}</p>
                                                    </div>
                                                </div>

                                                <footer class="card-footer">
                                                    <p class="card-footer-item">{{post.liked_by.all|length}} Likes</p>

                                                    {% if user in post.liked_by.all %}
                                                        <div class="card-footer-item">
                                                            <form action="swolemates/home/post/{{post.id}}/remove_like" method="POST" >
                                                                {% csrf_token %}
                                                                <input type="submit" value="Unlike" class="button">
                                                            </form>
                                                        </div>
                                                    {% else %}
                                                        <div class="card-footer-item">
                                                            <form action="swolemates/home/post/{{post.id}}/add_like" method="POST" class="card-footer-item">
                                                                {% csrf_token %}
                                                                <input type="submit" value="Like" class="button">
                                                            </form>
                                                        </div>
                                                    {% endif %}

                                                </footer>

                                            </div>

                                        <!-- END OF POST CONTENT CARD/TILE -->
                                        </div>

                                        


                                
                                    <!-- END TILE FOR INDIVIDUAL POST -->
                                </div>
                                
                                <!-- POST COMMENT TILE -->
                                <div class="tile is-12">

                                    <div class="box">

                                        <div class="media">

                                            <form action="swolemates/home/post/{{post.id}}/add_comment" method="POST">
                                                {% csrf_token %}
                                            

                                            <div class="media-content">
                                                <textarea class="textarea" name="content" id="home-text-area" cols="300" rows="2" placeholder="Post A Comment"></textarea>
                                            </div>

                                            <div class="media">
                                                <input type="submit" value="Comment" class="button">
                                            </div>

                                            </form>

                                        </div>

                                    </div>
                                
                                <!-- END POST COMMENT TILE -->
                                </div>

                                <!-- ALL COMMENTS TILE -->
                                <div class="tile is-12 is-vertical">

                                    

                                        {% for comment in post.comments.all %}
                                        <div class="tile">
                                            <div class="box" id="comment">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-48x48">
                                                        <img src="/media/{{comment.posted_by.profile_photo}}" alt="profile photo">
                                                        </figure>
                                                    </div>
                                                    <div class="media-content">
                                                        <p class="title is-6">{{comment.posted_by}}</p>
                                                        <p class="subtitle is-6" id="comment-time">{{comment.updated_at}}</p>
                                                        <p class="subtitle is-6" id="comment-content">{{comment.content}}</p>
                                                    </div>
                                                    <div class="media-right is-align-content-center">
                                                        <!-- DELETE COMMENT -->
                                                        {% if comment.posted_by == user %}
                                                            <form action="swolemates/home/post/{{post.id}}/comment/{{comment.id}}/delete" method="POST" class="is-align-items-center">
                                                                {% csrf_token %}
                                                                <input type="submit" value="Delete Comment" class="button">
                                                            </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    
                                
                                <!-- END POST COMMENT TILE -->
                                </div>



                            <!-- END POST DIV CONTAINER -->
                            </div>

                            {% endif %}

                        <!-- END ITERATE OVER POSTS -->
                        {% endfor %}

                    <!-- END TO TILE FOR ALL POSRS -->
                    </div>

                    <!-- END TO PARENT TILE -->
                </div>

                <!-- TILE FOR FRIENDS AND WORKOUTS. WILL BE VERTICAL & TAKE UP 25% OF PAGE -->
                <div class="tile is-vertical" id="home-right">

                    <!-- ITERATE OVER REQUESTS HERE -->
                    {% if user_friend_requests %}
                        <!-- PARENT TILE FOR FRIEND REQUESTS -->
                        <div class="tile is-parent is-vertical">

                                <!-- TILE TITLE -->
                                <div class="tile is-child">

                                    <div class="card">
                                        <header class="card-header">
                                        <p class="card-header-title">
                                            <a href="/swolemates/user/{{user.username}}/friends">Friend Requests</a>
                                        </p>
                                        <button class="card-header-icon" aria-label="more options">
                                            <span class="icon">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                        </header>
                                    </div>
                                
                                <!-- END TILE TITLE CONTAINER -->
                                </div>


                                {% for friend in user_friend_requests %}
                                <div class="tile is-child">
    
                                <!-- CARD WITH FRIEND INFO -->
                                    <div class="card">
                                        
                                        <!-- CONTAINER FOR CARD CONTENT -->
                                        <div class="card-content">
                                            
                                            <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                            <div class="media">
    
                                                <!-- CONTAINER FOR PROFILE PICTURE -->
                                                <div class="media-left">
    
    
                                                    <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">
    
                                                </div>
    
                                                <!-- CONTAINER FOR FRIEND INFO -->
                                                <div class="media-content">
    
                                                    <p class="title is-6"><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></p>
                                                    <p class="subtitle is-6">{{ friend.first_name }} {{ friend.last_name }}</p>
    
                                                </div>
                                            
                                            <!-- END MEDIA CONTAINER -->
                                            </div>

                                            <!-- FOOTER CONTAINER -->
                                            <div class="card-footer">
                                                    
                                                <!-- ACCEPT REQUEST -->
                                                <form action="/swolemates/request/{{ friend.username }}/accept_request" method="POST" class="card-footer-item">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Accept" class="button">
                                                </form>
                                                
                                                <!-- DENY REQUEST -->
                                                <form action="/swolemates/request/{{ friend.username }}/deny_request" method="POST" class="card-footer-item">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Deny" class="button">
                                                </form>
                                            
                                            <!-- END FOOTER CONTAINER -->
                                            </div>
    
                                        <!-- END CARD-CONTENT CONTAINER -->
                                        </div>
    
                                    <!-- END CARD CONTAINER -->
                                    </div>
    
                                <!-- END TILE CONTAINER -->
                                </div>
    
    
                            <!-- END ITERATE OVER FRIENDS HERE -->
                            {% endfor %}
                        
                        <!-- END PARENT TILE FOR FRIENDS -->
                        </div>
                    {% endif %}

                    {% if friends %}
                        <!-- PARENT TILE FOR FRIENDS -->
                        <div class="tile is-parent is-vertical">

                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{user.username}}/friends">Your Friends</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>
                            
                            <!-- ITERATE OVER FRIENDS HERE -->
                            {% for friend in friends %}
                            <div class="tile is-child" id="tile-height">

                            <!-- CARD WITH FRIEND INFO -->
                                <div class="card">
                                    
                                    <!-- CONTAINER FOR CARD CONTENT -->
                                    <div class="card-content">
                                        
                                        <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                        <div class="media">

                                            <!-- CONTAINER FOR PROFILE PICTURE -->
                                            <div class="media-left">


                                                <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">

                                            </div>

                                            <!-- CONTAINER FOR FRIEND INFO -->
                                            <div class="media-content">

                                                <p class="title is-6"><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></p>
                                                <p class="subtitle is-6">{{ friend.first_name }} {{ friend.last_name }}</p>

                                            </div>

                                        
                                        <!-- END MEDIA CONTAINER -->
                                        </div>

                                        <!-- FOOTER CONTAINER -->
                                        <div class="card-footer">
                                            
                                            <!-- REMOVE FRIEND -->
                                            <form action="/swolemates/request/{{ friend.username }}/remove_friend" method="POST" class="card-footer-item is-justify-content-start is-align-self-center">
                                                {% csrf_token %}
                                                <input type="submit" value="Remove Friend" class="button">
                                            </form>
                                        
                                        <!-- END FOOTER CONTAINER -->
                                        </div>

                                    <!-- END CARD-CONTENT CONTAINER -->
                                    </div>

                                <!-- END CARD CONTAINER -->
                                </div>

                            <!-- END TILE CONTAINER -->
                            </div>


                            <!-- END ITERATE OVER FRIENDS HERE -->
                            {% endfor %}
                    
                        <!-- END PARENT TILE FOR FRIENDS -->
                        </div>
                    {% endif %}


                    <!-- PARENT TILE FOR ADD FRIENDS -->
                    <div class="tile is-parent is-vertical">

                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{user.username}}/friends">Add Friends</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>
                            
                            <!-- ITERATE OVER ALL OTHERS HERE -->
                            {% for person in all_others %}

                                {% if person not in friends and person not in user_friend_requests and person not in user_sent_requests %}
                                    <div class="tile is-child">

                                    <!-- CARD WITH FRIEND INFO -->
                                        <div class="card">
                                            
                                            <!-- CONTAINER FOR CARD CONTENT -->
                                            <div class="card-content">
                                                
                                                <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                                <div class="media">

                                                    <!-- CONTAINER FOR PROFILE PICTURE -->
                                                    <div class="media-left">


                                                        <img src="/media/{{person.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">

                                                    </div>

                                                    <!-- CONTAINER FOR FRIEND INFO -->
                                                    <div class="media-content">

                                                        <p class="title is-6"><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></p>
                                                        <p class="subtitle is-6">{{ person.first_name }} {{ person.last_name }}</p>

                                                    </div>

                                                
                                                <!-- END MEDIA CONTAINER -->
                                                </div>

                                                <!-- FOOTER CONTAINER -->
                                                <div class="card-footer">
                                                    
                                                    <!-- SEND FRIEND REQUEST -->
                                                    <form action="/swolemates/request/{{ person.username }}/send_request" method="POST" class="card-footer-item is-justify-content-start">
                                                        {% csrf_token %}
                                                        
                                                        {% if person.username != "NOFRIEND ZONE" %}
                                                        <input type="submit" value="Send Friend Request" class="button">

                                                        {% else %}
                                                            <a href="">Send Friend Request</a>
                                                        {% endif %}
                                                    </form>
                                                
                                                <!-- END FOOTER CONTAINER -->
                                                </div>

                                            <!-- END CARD-CONTENT CONTAINER -->
                                            </div>

                                        <!-- END CARD CONTAINER -->
                                        </div>

                                    <!-- END TILE CONTAINER -->
                                    </div>

                                {% endif %}

                            <!-- END ITERATE OVER FRIENDS HERE -->
                            {% endfor %}
                    
                    
                    <!-- END PARENT TILE FOR ADD FRIENDS -->
                    </div>


                    {% if user_workouts %}
                        <!-- PARENT TILE FOR WORKOUTS -->
                        <div class="tile is-parent is-vertical">

                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{user.username}}/workouts">Your Workouts</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>
                            
                            <!-- ITERATE OVER WORKOUTS HERE -->
                            {% for workout in user_workouts %}
                            <div class="tile is-child">

                            <!-- CARD WITH WORKOUT INFO -->
                                <div class="card">
                                    
                                    <!-- CONTAINER FOR CARD CONTENT -->
                                    <div class="card-content">
                                        
                                        <!-- CONTAINER FOR IMAGE AND WORKOUT INFO -->
                                        <div class="media">

                                            <!-- CONTAINER FOR WORKOUT DEFAULT PICTURE -->
                                            <div class="media-left">


                                                <img src="/media/{{user.profile_photo}}" alt="{{user.username}}'s profile pic" class="image is-48x48">

                                            </div>

                                            <!-- CONTAINER FOR WORKOUT INFO -->
                                            <div class="media-content">

                                                <p class="title is-6"><a href="/swolemates/workout/{{workout.id}}">{{ workout.name }}</a></p>
                                                <p class="subtitle is-6">Created By: You on {{user.created_at|date:"M d, Y"}}</p>

                                            </div>

                                        
                                        <!-- END MEDIA CONTAINER -->
                                        </div>

                                        <!-- FOOTER CONTAINER -->
                                        <div class="card-footer">
                                            
                                            <!-- EDIT WORKOUT -->
                                            <a href="/swolemates/workout/{{workout.id}}/edit" class="card-footer-item is-justify-content-start">Edit Workout</a>
                                        
                                        <!-- END FOOTER CONTAINER -->
                                        </div>

                                    <!-- END CARD-CONTENT CONTAINER -->
                                    </div>

                                <!-- END CARD CONTAINER -->
                                </div>

                            <!-- END TILE CONTAINER -->
                            </div>


                            <!-- END ITERATE OVER WORKOUTS HERE -->
                            {% endfor %}
                    
                    
                        <!-- END PARENT TILE FOR WORKOUTS -->
                        </div>
                    {% endif %}

                </div>
            <!-- END ANCESTOR DIV -->
            </div>

        </div>
    </div>
</body>
</html>