<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SM | {{profile.username}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
</head>
<body>
    <div id="wrapper">

        <nav class="navbar">

            <!-- LEFT SIDE OF NAVBAR -->
            <div class="navbar-brand">
                
                    <!-- REPLACE THIS WITH LOGO AFTER MAKING -->
                    <p class="title is-2 is-align-self-center" id="wtf"><a href="/swolemates">SWOLEMATES</a></p>

                    <!-- BURGER MENU -->
                    <a role="button" class="navbar-burger is-align-self-center" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" id="wtf">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>

            <!-- LEFT SIDE OF NAVBAR END -->

            </div>

            <!-- RIGHT SIDE OF NAVBAR -->
            <div class="navbar-menu navbar-end">

                <!-- PROFILE -->
                <a href="/swolemates/user/{{user.username}}" class="navbar-item">
                    {{user.username}}
                </a>

                <!-- FRIENDS -->
                <a href="/swolemates/user/{{user.username}}/friends" class="navbar-item">
                    Friends
                </a>

                <!-- WORKOUTS DROPDOWN-->
                <div class="navbar-item has-dropdown is-hoverable">

                    <!-- WORKOUTS MAIN LINK -->
                    <a href="/swolemates/user/{{user.username}}/workouts" class="navbar-link">
                        Workouts
                    </a>

                    <!-- WORKOUTS DROPDOWN ITEMS -->
                    <div class="navbar-dropdown">

                        <!-- YOUR WORKOUTS -->
                        <a href="/swolemates/user/{{user.username}}/workouts" class="navbar-item">
                            Your Workouts
                        </a>
                        
                        <hr class="navbar-divider">

                        <!-- CREATE A WORKOUT -->
                        <a href="/swolemates/workout" class="navbar-item">
                            Create A Workout
                        </a>

                        <!-- END WORKOUT DROPDOWN MENU -->
                    </div>
                    <!-- END WORKOUT ITEM -->
                </div>

                <!-- LOGOUT -->
                <div class="navbar-item">
                    <form action="/logout" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="LOGOUT" class="button" id="logout">
                    </form>
                </div>

            
            <!-- END RIGHT SIDE OF NAV -->
            </div>

        </nav>

        <div class="tile is-ancestor">

            <!-- PARENT TILE FOR LEFT SIDE OF PROFILE -->
            <div class="tile is-parent is-3 is-vertical">

                <div class="tile is-child" id="profile-left">
                    <img src='/media/{{profile.profile_photo}}' alt = "profile photo">
                    <p class="title is-2">{{profile.username}}</p>
                    <p class="subtitle is-5">{{profile.first_name}} {{profile.last_name}}</p>

                    {% if profile != user and profile not in user_friends and profile not in user_friend_requests and profile not in user_sent_requests %}
                    
                    <form action="/swolemates/user/request/{{ profile.username }}/send_request" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Send Friend Request">
                    </form>

                    {% elif profile != user %}
                    
                    <!-- REMOVE FRIEND -->
                    <form action="/swolemates/user/request/{{ profile.username }}/remove_friend" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Remove Friend">
                    </form>

                {% else %}

                    <p class="subtitle is-6 is-spaced"><a href="/swolemates/user/{{user.username}}/edit">Edit Profile</a></p>

                {% endif %}

                {% if profile.bio %}
                    <p class="title is-6">BIO:</p>
                    <p class="subtitle is-4 is-spaced">{{profile.bio}}</p>
                {% else %}
                    <p>NO BIO</p>
                {% endif %}

                {% if profile.fav_exercises %}
                    <p class="title is-6">FAVORITE EXERCISE</p>
                    <p class="subtitle is-4">{{profile.fav_exercises}}</p>
                {% else %}
                    <p>NO FAV EXERCISES</p>
                {% endif %}

                <!-- END CHILD TILE -->
                </div>




                <!-- FRIENDS SECTION -->
                    
                    {% if profile_friends %}
                    

                        {% if user == profile %}

                            <!-- USER FRIEND REQUESTS -->
                            {% if user_friend_requests %}

                                <!-- TILE TITLE -->
                                <div class="tile is-child">

                                    <div class="card">
                                        <header class="card-header">
                                        <p class="card-header-title">
                                            <a href="/swolemates/user/{{profile.username}}/friends">Friend Requests</a>
                                        </p>
                                        <button class="card-header-icon" aria-label="more options">
                                            <span class="icon">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                        </header>
                                    </div>
                                
                                <!-- END TILE TITLE CONTAINER -->
                                </div>

                                
                                <!-- ITERATE OVER USER FRIEND REQUESTS -->
                                {% for friend in user_friend_requests %}

                                <div class="tile is-child">
    
                                    <!-- CARD WITH FRIEND INFO -->
                                        <div class="card">
                                            
                                            <!-- CONTAINER FOR CARD CONTENT -->
                                            <div class="card-content">
                                                
                                                <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                                <div class="media">
        
                                                    <!-- CONTAINER FOR PROFILE PICTURE -->
                                                    <div class="media-left">
        
        
                                                        <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">
        
                                                    </div>
        
                                                    <!-- CONTAINER FOR FRIEND INFO -->
                                                    <div class="media-content">
        
                                                        <p class="title is-6"><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></p>
                                                        <p class="subtitle is-6">{{ friend.first_name }} {{ friend.last_name }}</p>
        
                                                    </div>
                                                
                                                <!-- END MEDIA CONTAINER -->
                                                </div>
    
                                                <!-- FOOTER CONTAINER -->
                                                <div class="card-footer is-justify-content-space-evenly">
                                                        
                                                    <!-- ACCEPT REQUEST -->
                                                    <form action="/swolemates/user/request/{{ friend.username }}/accept_request" method="POST" class="card-footer-item">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Accept">
                                                    </form>
                                                    
                                                    <!-- DENY REQUEST -->
                                                    <form action="/swolemates/user/request/{{ friend.username }}/deny_request" method="POST" class="card-footer-item">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Deny">
                                                    </form>
                                                
                                                <!-- END FOOTER CONTAINER -->
                                                </div>
        
                                            <!-- END CARD-CONTENT CONTAINER -->
                                            </div>
        
                                        <!-- END CARD CONTAINER -->
                                        </div>
        
                                    <!-- END TILE CONTAINER -->
                                    </div>


                                <!-- END ITERATE OVER USER FRIEND REQUESTS -->
                                {% endfor %}

                            <!-- END USER FRIEND REQUESTS IF -->
                            {% endif %}
                            

                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{profile.username}}/friends">Your Friends</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>

                            <!-- ITERATE OVER PROFILE FRIENDS -->
                            {% for friend in profile_friends %}
                            
                            <div class="tile is-child">

                                <!-- CARD WITH FRIEND INFO -->
                                    <div class="card">
                                        
                                        <!-- CONTAINER FOR CARD CONTENT -->
                                        <div class="card-content">
                                            
                                            <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                            <div class="media">
    
                                                <!-- CONTAINER FOR PROFILE PICTURE -->
                                                <div class="media-left">
    
    
                                                    <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">
    
                                                </div>
    
                                                <!-- CONTAINER FOR FRIEND INFO -->
                                                <div class="media-content">
    
                                                    <p class="title is-6"><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></p>
                                                    <p class="subtitle is-6">{{ friend.first_name }} {{ friend.last_name }}</p>
    
                                                </div>
    
                                            
                                            <!-- END MEDIA CONTAINER -->
                                            </div>
    
                                            <!-- FOOTER CONTAINER -->
                                            <div class="card-footer">
                                                
                                                <!-- REMOVE FRIEND -->
                                                <form action="/swolemates/user/request/{{ friend.username }}/remove_friend" method="POST" class="card-footer-item is-justify-content-start is-align-self-center">
                                                    {% csrf_token %}
                                                    <input type="submit" value="Remove Friend">
                                                </form>
                                            
                                            <!-- END FOOTER CONTAINER -->
                                            </div>
    
                                        <!-- END CARD-CONTENT CONTAINER -->
                                        </div>
    
                                    <!-- END CARD CONTAINER -->
                                    </div>
    
                                <!-- END TILE CONTAINER -->
                                </div>


                            <!-- END ITERATE OVER FRIENDS LIST -->
                            {% endfor %}

                            
                            
                            
                            <!-- ADD FRIENDS SECTION -->

                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{user.username}}/friends">Add Friends</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>

                            {% for person in all_others %}
                                {% if person not in profile_friends and person not in user_friend_requests and person not in user_sent_requests %}

                                <div class="tile is-child">

                                    <!-- CARD WITH FRIEND INFO -->
                                        <div class="card">
                                            
                                            <!-- CONTAINER FOR CARD CONTENT -->
                                            <div class="card-content">
                                                
                                                <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                                <div class="media">

                                                    <!-- CONTAINER FOR PROFILE PICTURE -->
                                                    <div class="media-left">


                                                        <img src="/media/{{person.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">

                                                    </div>

                                                    <!-- CONTAINER FOR FRIEND INFO -->
                                                    <div class="media-content">

                                                        <p class="title is-6"><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></p>
                                                        <p class="subtitle is-6">{{ person.first_name }} {{ person.last_name }}</p>

                                                    </div>

                                                
                                                <!-- END MEDIA CONTAINER -->
                                                </div>

                                                <!-- FOOTER CONTAINER -->
                                                <div class="card-footer">
                                                    
                                                    <!-- SEND FRIEND REQUEST -->
                                                    <form action="/swolemates/user/request/{{ person.username }}/send_request" method="POST" class="card-footer-item is-justify-content-start">
                                                        {% csrf_token %}
                                                        
                                                        {% if person.username != "NOFRIEND ZONE" %}
                                                        <input type="submit" value="Send Friend Request">

                                                        {% else %}
                                                            <a href="">Send Friend Request</a>
                                                        {% endif %}
                                                    </form>
                                                
                                                <!-- END FOOTER CONTAINER -->
                                                </div>

                                            <!-- END CARD-CONTENT CONTAINER -->
                                            </div>

                                        <!-- END CARD CONTAINER -->
                                        </div>

                                <!-- END TILE CONTAINER -->
                                </div>

                                <!-- END ALL OTHERS IF -->
                                {% endif %}
                            <!-- END ITERATE OVER ALL OTHERS -->
                            {% endfor %}
                    


                        <!-- NOT USER's PROFILE -->
                        {% else %}
                            

                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{profile.username}}/friends">{{profile.username}}'s' Friends</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>

                            <!-- ITERATE OVER PROFILE FRIENDS -->
                            {% for friend in profile_friends %}
                                
                            <div class="tile is-child">

                                <!-- CARD WITH FRIEND INFO -->
                                    <div class="card">
                                        
                                        <!-- CONTAINER FOR CARD CONTENT -->
                                        <div class="card-content">
                                            
                                            <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                            <div class="media">

                                                <!-- CONTAINER FOR PROFILE PICTURE -->
                                                <div class="media-left">


                                                    <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">

                                                </div>

                                                <!-- CONTAINER FOR FRIEND INFO -->
                                                <div class="media-content">

                                                    <p class="title is-6"><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></p>
                                                    <p class="subtitle is-6">{{ friend.first_name }} {{ friend.last_name }}</p>

                                                </div>

                                            
                                            <!-- END MEDIA CONTAINER -->
                                            </div>
                                            
                                            {% if friend not in user_friends and friend not in user_friend_requests and friend not in user_sent_requests and friend != user %}

                                                <!-- FOOTER CONTAINER -->
                                                <div class="card-footer">
                                                            
                                                    <!-- SEND FRIEND REQUEST -->
                                                    <form action="/swolemates/user/request/{{ person.username }}/send_request" method="POST" class="card-footer-item is-justify-content-start">
                                                        {% csrf_token %}
                                                        
                                                        {% if person.username != "NOFRIEND ZONE" %}
                                                        <input type="submit" value="Send Friend Request">

                                                        {% else %}
                                                            <a href="">Send Friend Request</a>
                                                        {% endif %}
                                                    </form>
                                                </div>

                                            {% elif friend != user %}

                                                <!-- FOOTER CONTAINER -->
                                                <div class="card-footer">
                                                    
                                                    <!-- REMOVE FRIEND -->
                                                    <form action="/swolemates/user/request/{{ friend.username }}/remove_friend" method="POST" class="card-footer-item is-justify-content-start is-align-self-center">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Remove Friend">
                                                    </form>
                                                
                                                <!-- END FOOTER CONTAINER -->
                                                </div>

                                            <!-- ENDS IF FOR PROFILE FRIENDS THAT AREN'T IN THE USERS FRIEND GROUP AND DOES NOT EQUAL USER -->
                                            {% endif %}

                                        <!-- END CARD-CONTENT CONTAINER -->
                                        </div>

                                    <!-- END CARD CONTAINER -->
                                    </div>

                            <!-- END TILE CONTAINER -->
                            </div>


                            <!-- END ITERATE OVER FRIENDS LIST -->
                            {% endfor %}



                        <!-- END IF USER IS PROFILE CHECK -->
                        {% endif %}
                    
                    <!-- PROFILE DOESN'T HAVE FRIENDS YET -->
                    {% else %}
                        
                        {% if profile == user %}
                        
                            <!-- USER FRIEND REQUESTS -->
                            {% if user_friend_requests %}

                                <!-- TILE TITLE -->
                                <div class="tile is-child">

                                    <div class="card">
                                        <header class="card-header">
                                        <p class="card-header-title">
                                            <a href="/swolemates/user/{{profile.username}}/friends">Friend Requests</a>
                                        </p>
                                        <button class="card-header-icon" aria-label="more options">
                                            <span class="icon">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                        </header>
                                    </div>
                                
                                <!-- END TILE TITLE CONTAINER -->
                                </div>

                                
                                <!-- ITERATE OVER USER FRIEND REQUESTS -->
                                {% for friend in user_friend_requests %}

                                <div class="tile is-child">

                                    <!-- CARD WITH FRIEND INFO -->
                                        <div class="card">
                                            
                                            <!-- CONTAINER FOR CARD CONTENT -->
                                            <div class="card-content">
                                                
                                                <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                                <div class="media">

                                                    <!-- CONTAINER FOR PROFILE PICTURE -->
                                                    <div class="media-left">


                                                        <img src="/media/{{friend.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">

                                                    </div>

                                                    <!-- CONTAINER FOR FRIEND INFO -->
                                                    <div class="media-content">

                                                        <p class="title is-6"><a href="/swolemates/user/{{friend.username}}">{{ friend.username }}</a></p>
                                                        <p class="subtitle is-6">{{ friend.first_name }} {{ friend.last_name }}</p>

                                                    </div>
                                                
                                                <!-- END MEDIA CONTAINER -->
                                                </div>

                                                <!-- FOOTER CONTAINER -->
                                                <div class="card-footer is-justify-content-space-evenly">
                                                        
                                                    <!-- ACCEPT REQUEST -->
                                                    <form action="/swolemates/user/request/{{ friend.username }}/accept_request" method="POST" class="card-footer-item">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Accept">
                                                    </form>
                                                    
                                                    <!-- DENY REQUEST -->
                                                    <form action="/swolemates/user/request/{{ friend.username }}/deny_request" method="POST" class="card-footer-item">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Deny">
                                                    </form>
                                                
                                                <!-- END FOOTER CONTAINER -->
                                                </div>

                                            <!-- END CARD-CONTENT CONTAINER -->
                                            </div>

                                        <!-- END CARD CONTAINER -->
                                        </div>

                                <!-- END TILE CONTAINER -->
                                </div>


                                <!-- END ITERATE OVER USER FRIEND REQUESTS -->
                                {% endfor %}

                            <!-- END USER FRIEND REQUESTS IF -->
                            {% endif %}
                            
                            <!-- ADD FRIENDS SECTION -->

                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{user.username}}/friends">Add Friends</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>

                            {% for person in all_others %}
                                {% if person not in profile_friends and person not in user_friend_requests and person not in user_sent_requests %}

                                <div class="tile is-child">

                                    <!-- CARD WITH FRIEND INFO -->
                                        <div class="card">
                                            
                                            <!-- CONTAINER FOR CARD CONTENT -->
                                            <div class="card-content">
                                                
                                                <!-- CONTAINER FOR IMAGE AND FRIEND INFO -->
                                                <div class="media">

                                                    <!-- CONTAINER FOR PROFILE PICTURE -->
                                                    <div class="media-left">


                                                        <img src="/media/{{person.profile_photo}}" alt="{{friend.username}}'s profile pic" class="image is-48x48">

                                                    </div>

                                                    <!-- CONTAINER FOR FRIEND INFO -->
                                                    <div class="media-content">

                                                        <p class="title is-6"><a href="/swolemates/user/{{person.username}}">{{ person.username }}</a></p>
                                                        <p class="subtitle is-6">{{ person.first_name }} {{ person.last_name }}</p>

                                                    </div>

                                                
                                                <!-- END MEDIA CONTAINER -->
                                                </div>

                                                <!-- FOOTER CONTAINER -->
                                                <div class="card-footer">
                                                    
                                                    <!-- SEND FRIEND REQUEST -->
                                                    <form action="/swolemates/user/request/{{ person.username }}/send_request" method="POST" class="card-footer-item is-justify-content-start">
                                                        {% csrf_token %}
                                                        
                                                        {% if person.username != "NOFRIEND ZONE" %}
                                                        <input type="submit" value="Send Friend Request">

                                                        {% else %}
                                                            <a href="">Send Friend Request</a>
                                                        {% endif %}
                                                    </form>
                                                
                                                <!-- END FOOTER CONTAINER -->
                                                </div>

                                            <!-- END CARD-CONTENT CONTAINER -->
                                            </div>

                                        <!-- END CARD CONTAINER -->
                                        </div>

                                <!-- END TILE CONTAINER -->
                                </div>

                                <!-- END ALL OTHERS IF -->
                                {% endif %}
                            <!-- END ITERATE OVER ALL OTHERS -->
                            {% endfor %}


                        <!-- PROFILE DOESN'T EQUAL USER -->
                        {% else %}
                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{profile.username}}/friends">{{profile.username}}'s' Friends</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>
                        
                        <!-- END IF PROFILE == USER -->
                        {% endif %}

                    <!-- END PROFILE FRIENDS IF -->
                    {% endif %}


                    <!-- WORKOUT SECTION -->

                    {% if profile_workouts %}

                            {% if profile == user %}
                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{profile.username}}/workouts">Your Workouts</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>
                            
                            <!-- ITERATE OVER WORKOUTS HERE -->
                            {% for workout in profile_workouts %}
                            <div class="tile is-child">

                            <!-- CARD WITH WORKOUT INFO -->
                                <div class="card">
                                    
                                    <!-- CONTAINER FOR CARD CONTENT -->
                                    <div class="card-content">
                                        
                                        <!-- CONTAINER FOR IMAGE AND WORKOUT INFO -->
                                        <div class="media">

                                            <!-- CONTAINER FOR WORKOUT DEFAULT PICTURE -->
                                            <div class="media-left">


                                                <img src="/media/{{user.profile_photo}}" alt="{{profile.username}}'s profile pic" class="image is-48x48">

                                            </div>

                                            <!-- CONTAINER FOR WORKOUT INFO -->
                                            <div class="media-content">

                                                <p class="title is-6"><a href="/swolemates/workout/{{workout.id}}">{{ workout.name }}</a></p>
                                                <p class="subtitle is-6">Created By: You on {{user.created_at|date:"M d, Y"}}</p>

                                            </div>

                                        
                                        <!-- END MEDIA CONTAINER -->
                                        </div>

                                        <!-- FOOTER CONTAINER -->
                                        <div class="card-footer">
                                            
                                            <!-- EDIT WORKOUT -->
                                            <a href="/swolemates/workout/{{workout.id}}/edit" class="card-footer-item is-justify-content-start">Edit Workout</a>
                                        
                                        <!-- END FOOTER CONTAINER -->
                                        </div>

                                    <!-- END CARD-CONTENT CONTAINER -->
                                    </div>

                                <!-- END CARD CONTAINER -->
                                </div>

                            <!-- END TILE CONTAINER -->
                            </div>


                            <!-- END ITERATE OVER WORKOUTS HERE -->
                            {% endfor %}


                        {% else %}

                            <!-- TILE TITLE -->
                            <div class="tile is-child">

                                <div class="card">
                                    <header class="card-header">
                                    <p class="card-header-title">
                                        <a href="/swolemates/user/{{profile.username}}/workouts">{{profile.username}}'s' Workouts</a>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </header>
                                </div>
                            
                            <!-- END TILE TITLE CONTAINER -->
                            </div>
                            
                            <!-- ITERATE OVER WORKOUTS HERE -->
                            {% for workout in profile_workouts %}
                            <div class="tile is-child">

                            <!-- CARD WITH WORKOUT INFO -->
                                <div class="card">
                                    
                                    <!-- CONTAINER FOR CARD CONTENT -->
                                    <div class="card-content">
                                        
                                        <!-- CONTAINER FOR IMAGE AND WORKOUT INFO -->
                                        <div class="media">

                                            <!-- CONTAINER FOR WORKOUT DEFAULT PICTURE -->
                                            <div class="media-left">


                                                <img src="/media/{{profile.profile_photo}}" alt="{{profile.username}}'s profile pic" class="image is-48x48">

                                            </div>

                                            <!-- CONTAINER FOR WORKOUT INFO -->
                                            <div class="media-content">

                                                <p class="title is-6"><a href="/swolemates/workout/{{workout.id}}">{{ workout.name }}</a></p>
                                                <p class="subtitle is-6">Created By: {{workout.created_by}} on {{user.created_at|date:"M d, Y"}}</p>

                                            </div>

                                        
                                        <!-- END MEDIA CONTAINER -->
                                        </div>

                                    <!-- END CARD-CONTENT CONTAINER -->
                                    </div>

                                <!-- END CARD CONTAINER -->
                                </div>

                            <!-- END TILE CONTAINER -->
                            </div>


                            <!-- END ITERATE OVER WORKOUTS HERE -->
                            {% endfor %}

                        <!-- END PROFILE/USER CHECK -->
                        {% endif %}

                        <!-- END IF WORKOUT CHECK -->
                        {% endif %}





                <!-- END PARENT TILE FOR PROFILE/FRIENDS/WORKOUTS -->
                </div>
                



            


            
            
            
            <!-- POST SECTION -->
            <div class="tile is-parent is-vertical">


                <!-- CHECK USER TO HAVE CREATE POST SECTION -->
                {% if user == profile %}

                    <!-- MAKE POST TILE -->
                    <div class="tile is-child is-12">
                    
                        <!-- MAKE POST CARD CONTAINER -->
                        <div class="card">
                            
                            <form action="/swolemates/user/{{profile.username}}/profile_post_create" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                            
                            <!-- MAKE POST HEADER -->
                            <header class="card-header">

                                <div class="media">
                                    
                                    <div class="media-content">
                                        <textarea class="textarea" name="content" id="home-text-area" cols="300" rows="2" placeholder="Post Something"></textarea>
                                    </div>
                                </div>
                                

                            </header>

                            <footer class="card-footer">

                                <!-- ADD WORKOUT TO POST -->
                                {% if profile_workouts %}
                                    <div class="card-footer-item">
                                        <select name="workout" id="">
                                            <option value="none" selected>Add A Workout?</option>
                                            {% for workout in profile_workouts %}
                                                <option value="{{workout.id}}">{{workout.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                
                                <!-- ADD IMAGE TO POST -->
                                <div class="card-footer-item">
                                    <input type="file" name="image">
                                </div>

                                <!-- ADD IMAGE TO POST -->
                                <div class="card-footer-item">
                                    <input type="submit" value="POST">
                                </div>
                            </footer>


                            </form>
                        <!-- END MAKE POST CARD CONTAINER -->
                        </div>

                    
                    <!-- END MAKE POST TILE -->
                    </div>
                {% endif %}
            
                

                <!-- TILE FOR POSTS -->
                <div class="tile is-child is-vertical" id="posts-tile">


                    <!-- ITERATE OVER POSTS HERE -->

                        {% for post in posts reversed %}

                        <div class="post">
                            <!-- TILE FOR WHOLE INDIVIDUAL POST -->
                            <div class="tile is-12">

                                <!-- TILE TO FEATURE IMAGE & WORKOUT -->

                                    <!-- IMAGE TILE -->
                                    {% if post.image %}
                                        <div class="tile is-4">
                                            <img src="/media/{{post.image}}" alt="{{post.posted_by}} image">
                                        </div>
                                    {% endif %}


                                    <!-- CARD FOR POST TILE -->
                                    <div class="tile" id="test">
                                        <div class="card">
                                            
                                            {% if post.workout %}
                                            <header class="card-header">
                                                <p class="card-header-title">
                                                    <a href="/swolemates/workout/{{post.workout.id}}">Today's Workout: {{post.workout.name}}</a>
                                                </p>
                                            </header>
                                            {% endif %}

                                            <div class="card-content">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <figure class="image is-48x48">
                                                        <img src="/media/{{post.posted_by.profile_photo}}" alt="profile photo">
                                                        </figure>
                                                    </div>
                                                    <div class="media-content">
                                                        <p class="title is-4"><a href="/swolemates/user/{{post.posted_by.username}}">{{post.posted_by}}</a></p>
                                                        <p class="subtitle is-6">{{post.updated_at|date:"M d,Y H:m "}} {% if post.posted_by == user %}|  <a href="/swolemates/post/{{post.id}}/edit">Edit Post</a>{% endif %}</p> 
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <p>{{post.content}}</p>
                                                </div>
                                            </div>

                                            <footer class="card-footer">
                                                <p class="card-footer-item">{{post.liked_by.all|length}} Likes</p>

                                                {% if user in post.liked_by.all %}
                                                    <div class="card-footer-item">
                                                        <form action="/swolemates/user/{{profile.username}}/post/{{post.id}}/remove_like" method="POST" >
                                                            {% csrf_token %}
                                                            <input type="submit" value="Unlike">
                                                        </form>
                                                    </div>
                                                {% else %}
                                                    <div class="card-footer-item">
                                                        <form action="/swolemates/user/{{profile.username}}/post/{{post.id}}/add_like" method="POST" class="card-footer-item">
                                                            {% csrf_token %}
                                                            <input type="submit" value="Like">
                                                        </form>
                                                    </div>
                                                {% endif %}

                                            </footer>

                                        </div>

                                    <!-- END OF POST CONTENT CARD/TILE -->
                                    </div>

                                    


                            
                                <!-- END TILE FOR INDIVIDUAL POST -->
                            </div>
                            
                            <!-- POST COMMENT TILE -->
                            <div class="tile is-12">

                                <div class="box">

                                    <div class="media">

                                        <form action="/swolemates/user/{{profile.username}}/post/{{post.id}}/add_comment" method="POST">
                                            {% csrf_token %}
                                        

                                        <div class="media-content">
                                            <textarea class="textarea" name="content" id="home-text-area" cols="300" rows="2" placeholder="Post A Comment"></textarea>
                                        </div>

                                        <div class="media">
                                            <input type="submit" value="Comment">
                                        </div>

                                        </form>

                                    </div>

                                </div>
                            
                            <!-- END POST COMMENT TILE -->
                            </div>

                            <!-- ALL COMMENTS TILE -->
                            <div class="tile is-12">

                                

                                    {% for comment in post.comments.all %}
                                    <div class="box" id="comment">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
                                                <img src="/media/{{comment.posted_by.profile_photo}}" alt="profile photo">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-6">{{comment.posted_by}}</p>
                                                <p class="subtitle is-6">{{comment.content}}</p>
                                            </div>
                                            <div class="media-right is-align-content-center">
                                                <!-- DELETE COMMENT -->
                                                {% if comment.posted_by == user %}
                                                    <form action="/swolemates/user/{{profile.username}}/post/{{post.id}}/comment/{{comment.id}}/delete" method="POST" class="is-align-items-center">
                                                        {% csrf_token %}
                                                        <input type="submit" value="Delete Comment">
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                
                            
                            <!-- END POST COMMENT TILE -->
                            </div>



                        <!-- END POST DIV CONTAINER -->
                        </div>

                        <!-- END ITERATE OVER POSTS -->
                        {% endfor %}
            
            <!-- END CHILD TILE FOR ALL POSTS SECTION  -->
            </div>

            
        
        <!-- ENDS PARENT TILE FOR POST DIV -->
        </div>


    <!-- END ANCESTOR TILE DIV -->
    </div>
</body>
</html>