<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Workout</title>
</head>
<body>
    <!-- HOME - DELETE LATER--> <a href="/swolemates">HOME</a>
    <h1>Edit Workout:</h1>
    <form action="update" method="POST">
        {% csrf_token %}
        
        <div id="workout_name">
            <label for="workout_name">Workout Name</label>
            <input type="text" name="workout_name" value="{{ workout.name }}">
        </div>

        {% for exercise in exercises %}
            <div class="exercise_field">
                <div class="exercise_name">
                    <label for="name{{ forloop.counter }}">Exercise {{ forloop.counter }}</label>
                    <input type="text" name="name{{ forloop.counter }}" value="{{ exercise.name }}">
                </div>
                <div class="sets_reps">
                    <div class="sets">
                        <label for="sets{{ forloop.counter }}">Sets</label>
                        <select name="sets{{ forloop.counter }}">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="reps">
                        <label for="reps{{ forloop.counter }}">Reps</label>
                        <select name="reps{{ forloop.counter }}">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
            </div>


        {% endfor %}
            <input type="submit" value="Update Workout">
        </form>
        <form action="delete" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete Workout">
        </form>